*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgrey;
    font-family: 'Montserrat', sans-serif;
}
.contact{
    background-color: #000;
    color: #fff;
    border-radius: 25px;
margin-top: 80px !important; 
}


h2{
    color: #fff;
    padding-left: 60px ;
    font-weight: bold;
}
.btn-close{
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 45px;
    font-size: 40px;
}
.form{
    background-color: #fff;
    border-radius: 25px;
    height: 800px;
}
.form-items{
padding: 60px ;

}
.input-field{
    padding: 15px 0;
   
   
}
input::placeholder{

color: #000 !important;
}
input{
    border-bottom:2px solid #fdcb46 !important;
    margin-left: 40px;
}
img{
    width: 100%;
    height: 800px !important;
    margin-left: 15px;
    border-radius: 25px;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever)::after{
    border:2px solid #fdcb46 !important;
    border-radius: 5px;
    
}
span{
    color: black
}
.terms {
    color: #fdcb46;
    text-decoration:  2px underline #fdcb46;
    
}
button{
    width: 100% !important;
    text-align: center !important;
    font-weight: 700 !important;
   
    margin-top: 40px !important;
  font-size: x-large !important;
  color: #000 !important; 



}

.p{
    padding: 15px 0;
}